{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
<h2>Help & FAQ</h2>
<div class="accordion" id="faqAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1">
                How do I book a resource?
            </button>
        </h2>
        <div id="faq1" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Browse available resources, select one, and click "Book Now" to make a reservation.
            </div>
        </div>
    </div>
</div>
{% endblock %}